<form class="example-form" [formGroup]="registerForm">
    <mat-form-field appearance="outline" class="example-full-width email">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
  
    <mat-form-field appearance="outline"  class="example-full-width"> 
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <button
      [disabled]="!registerForm.valid"
      type="button"
      mat-button
      (click)="onRegisterUser()"
    >
      Submit
    </button>
  </form>
  